* {
  font-family: "DM Sans", sans-serif;
}

/* section title bar */
.html-body {
  background: #191919;
  margin: 0 auto;
  padding: 0;
  max-width: 1330px;
}
.header-body-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.header-title img {
  margin-right: 50px;
}

.header-bar {
}
.header-bar a {
  text-decoration: none;
  gap: 40px;
  padding: 20px;
  font-size: 17px;
  color: #fff;
}
a.buttons-btn {
  color: #137084;
}

/* section body pages one */
.container {
}

.container-row {
  color: #fff;
  padding: 10px;
}

.container-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10vh;
}

.container-background {
  width: 650px;
  height: 873px;
  flex-shrink: 0;
}

.container-body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 70px;
}
