* {
  font-family: "DM Sans", sans-serif;
}

/* section title bar */
.html-body {
  background: #191919;
  margin: 0 auto;
  padding: 0;
  max-width: 1330px;
}
.header-body-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.header-title img {
  margin-right: 50px;
}

.header-bar {
}
.header-bar a {
  text-decoration: none;
  gap: 40px;
  padding: 20px;
  font-size: 17px;
  color: #fff;
}
a.buttons-btn {
  color: #137084;
}

/* section body pages one */
.container {
}

.container-row {
  color: #fff;
  padding: 10px;
}

.container-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 7vh;
}

.container-background {
  width: 650px;
  height: 873px;
  flex-shrink: 0;
}

.container-body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 16.3vh;
}
.container-title {
  font-size: 80px;
}
.container-subtext {
  background-image: url(/svg/imgs_five.svg);
  background-repeat: no-repeat;
}
.container-sublittle {
  margin-left: 3vh;
  font-weight: bold;
  letter-spacing: 3.2px;
}
.container-list-subtitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin-top: 50px;
}

.container-list-title {
  font-size: 15px;
  font-style: normal;
  color: #fff;
  padding: 10pox;
}

.container-list-elements {
  display: flex;
  align-items: center;
}

ul.container-element {
  list-style-type: none;
  display: flex;
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
}

a.social-item--1 {
  background-repeat: no-repeat;
}
a.social-item--2 {
  background-repeat: no-repeat;
}
a.social-item--3 {
  background-repeat: no-repeat;
}
a.social-item--4 {
  background-repeat: no-repeat;
}
a.social-item--5 {
  background-repeat: no-repeat;
}
.social-link {
}
.social-link img {
  margin-right: 10px;
}
