* {
  font-family: "DM Sans", sans-serif;
}

.color {
  color: #fff;
}

/* section title bar */
.html-body {
  background: #191919;
  margin: 0 auto;
  padding: 0;
  max-width: 1330px;
}
.header-body-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.header-title img {
  margin-right: 50px;
}

.header-bar a {
  text-decoration: none;
  gap: 40px;
  padding: 20px;
  font-size: 17px;
  color: #fff;
}
a.buttons-btn {
  color: #137084;
}

/* section body pages one */
.container {
}

.container-row {
  color: #fff;
  padding: 10px;
}

.container-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 7vh;
}

.container-background {
  width: 650px;
  height: 873px;
  flex-shrink: 0;
  position: relative;
}
.container-star-img {
  position: absolute;
  top: -31px;
  left: -28px;
  z-index: 1;
}
.container-body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 16.3vh;
}
.container-title {
  font-size: 80px;
}
.container-subtext {
  background-image: url(/svg/imgs_five.svg);
  background-repeat: no-repeat;
}
.container-sublittle {
  margin-left: 3vh;
  font-weight: bold;
  letter-spacing: 3.2px;
}
.container-list-subtitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin-top: 50px;
}

.container-list-title {
  font-size: 15px;
  font-style: normal;
  color: #fff;
}

.container-list-elements {
  display: flex;
  align-items: center;
}

ul.container-element {
  list-style-type: none;
  display: flex;
  margin-left: 0;
  padding-left: 0;
}

a.social-item--1 {
  background-repeat: no-repeat;
}
a.social-item--2 {
  background-repeat: no-repeat;
}
a.social-item--3 {
  background-repeat: no-repeat;
}
a.social-item--4 {
  background-repeat: no-repeat;
}
a.social-item--5 {
  background-repeat: no-repeat;
}

.social-link img {
  margin-right: 10px;
}

/* section pages two 

      PARENT section
*/
.hero-container {
  color: #fff;
  margin-top: 6vh;
}
/* --------------------------------------------- */

.hero-body-title {
  display: flex;
  justify-content: space-between;
}

.hero-body-title-left {
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 2.8px;
}

.hero-body-subtitle {
  display: flex;
  align-items: center;
  background: #118da8;

  padding: 6px 15px 6px 20px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
}
/* /*/
.hero-example {
  display: flex;
  gap: 10vh;
  padding: 3vh;
  margin-top: 50px;
  background-color: #000000;
  border-radius: 2vh;
  -webkit-border-radius: 2vh;
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
}

.hero-example-btn {
  text-decoration: none;
  font-size: 15px;
  padding: 6px 22px;
  background-color: #191919;
  border-radius: 1.3vh;
  -webkit-border-radius: 1.3vh;
  -moz-border-radius: 1.3vh;
  -ms-border-radius: 1.3vh;
  -o-border-radius: 1.3vh;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.hero-example-text {
  color: #118da8;
  margin-top: 4vh;
  margin-bottom: 1vh;
  line-height: 27px;
}

.hero-example-title-subtitle {
  font-size: 64px;
  line-height: 70px;
  font-weight: 400;
}

.hero-example-title-min-title {
  color: rgba(255, 255, 255, 0.7);
  line-height: 33px;
  font-size: 22px;
  font-weight: 400;
  margin-top: 30px;
}

.hero-btn-button {
  margin-top: 35px;
  background-color: #118da8;
  padding: 12px 15px 12px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 17px;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
.example-body {
  margin: 7rem auto;
}
.example-body-row {
  display: flex;
  align-items: center;
}

.example-img {
  width: 70px;
  height: 71px;

  background-color: #118da8;
  padding: 2.3vh;
  border-radius: 400px;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  -ms-border-radius: 400px;
  -o-border-radius: 400px;
}

.example-body-subtitle {
  color: #118da8;
  font-size: 18px;
  line-height: 27px;
  margin-top: 15px;
}

.example-body-bigtitle {
  font-size: 65px;
  line-height: 80px;
  letter-spacing: 2.9px;
}

.example-body-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
  line-height: 33px;
  margin-top: 26px;
}

.example-body-subtext {
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
  line-height: 33px;
  margin-top: 26px;
}

.example-body-images img {
  border-radius: 2vh;
  -webkit-border-radius: 2vh;
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
}
/* --------------------------------- */
.section-temp {
  background-color: #000;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 3.75rem;
  margin: 10vh auto;
}

.section-temp-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-temp-title {
  position: relative;
}
.section-images-background {
  position: absolute;
  bottom: -154px;
  left: -93px;
}
.section-temp-text-title {
  color: #118da8;
  font-size: 18px;
  line-height: 27px;
}

.section-temp-text-mtitle {
  letter-spacing: 3px;
  font-size: 78px;
  line-height: 80px;
}

.section-temp-subtitle {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section-input-int {
  width: 522px;
  height: 82px;
  background: #191919;
  font-size: 30px;
  color: white;
  border: 1px solid #191919;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
::placeholder {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  padding: 15px;
}
.section-button-btn {
  width: 130px;
  height: 50px;
  background-color: #118da8;
  color: white;
  font-size: 18px;
}
